body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

.row (@max-width){
	max-width: @maxwidth;
	margin: 0 auto;
	overflow: hidden;
	> * {
		margin-left:0;
		margin-right:0;
		width:100%;
	}
} .row(@max-width) when (@max-width > 767px) {
	max-width:@max-width;
}

.one(@breakpoint) {
} .one(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:6.6666666666667%;
	width:@max-width;
	float:left;
}

.two(@breakpoint) {
} .two(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:15%;
	width:@max-width;
	float:left;
}

.three(@breakpoint) {
} .three(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:23.333333333333%;
	width:@max-width;
	float:left;
}

.four(@breakpoint) {
} .four(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:31.666666666667%;
	width:@max-width;
<<<<<<< HEAD
	float:left;
}
=======
} 
>>>>>>> 16a3cafdd62998ecf0737da59e9fcaa09dcdc700

.five(@breakpoint) {
} .five(@breakpoint) when (@breakpoint > 768px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:40%;
	width:@max-width;
	float:left;
}

.six(@breakpoint) {
} .six(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:48.333333333333%;
	width:@max-width;
	float:left;
}

.seven(@breakpoint) {
} .seven(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:56.666666666667%;
	width:@max-width;
	float:left;
}

.eight(@breakpoint) {
} .eight(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:65%;
	width:@max-width;
	float:left;
}

.nine(@breakpoint) {
} .nine(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:73.333333333333%;
	width:@max-width;
	float:left;
}

.ten(@breakpoint) {
} .ten(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:81.666666666667%;
	width:@max-width;
	float:left;
}

.eleven(@breakpoint) {
} .eleven(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	/* margin-left: 3.84%; */
	@max-width:90%;
	width:@max-width;
	float:left;
}
.twelve(@breakpoint) {
	@max-width:98.333333333333%;
	width:@max-width;
}

.last {
	margin-right: 0px;
}


@media screen and (min-width: 768px){
	.row (@maxwidth){
		width: 100%;
		max-width: @maxwidth;
		min-width: 755px;
		margin: 0 auto;
		overflow: hidden;
	}
}
