body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

.row (@max-width){
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
} .row(@breakpoint) when (@breakpoint > 767px) {
	max-width:@breakpoint;
}

.one(@breakpoint) {
	margin-left:0;
	margin-right:0;
} .one(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	@max-width:4.85%;
	width:@max-width;
}

.two(@breakpoint) {
	margin-left:0;
	margin-right:0;
} .two(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	@max-width:13.45%;
	width:@max-width;
}

.three(@breakpoint) {
	margin-left:0;
	margin-right:0;
} .three(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	@max-width:22.05%;
	width:@max-width;
}

.four(@breakpoint) {
	margin-left:0;
	margin-right:0;
} .four(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	@max-width:30.75%;
	width:@max-width;
} 

.five(@breakpoint) {
	margin-left:0;
	margin-right:0;
} .five(@breakpoint) when (@breakpoint > 768px) {
	float: left;
	@max-width:30.75%;
	width:@max-width;
}

.six(@breakpoint) {
	margin-left:0;
	margin-right:0;
} .six(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	@max-width:48%;
	width:@max-width;
}

.seven(@breakpoint) {
	margin-left:0;
	margin-right:0;
} .seven(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	@max-width:56.75%;
	width:@max-width;
}

.eight(@breakpoint) {
	margin-left:0;
	margin-right:0;
} .eight(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	@max-width:65.4%;
	width:@max-width;
}

.nine(@breakpoint) {
	margin-left:0;
	margin-right:0;
} .nine(@breakpoint) when (@breakpoint > 767px) {
	float: left;
	@max-width:74.05%;
	width:@max-width;
}

.ten(@breakpoint) {
	margin-left:0;
	margin-right:0;
	float: left;
} .ten(@breakpoint) when (@breakpoint > 767px) {
	@max-width:82.7%;
	width:@max-width;
}

.eleven(@breakpoint) {
	margin-left:0;
	margin-right:0;
	float: left;
} .eleven(@breakpoint) when (@breakpoint > 767px) {
	@max-width:91.35%;
	width:@max-width;
}

.twelve(@breakpoint) {
	margin-left:0;
	margin-right:0;
	float: left;
}

.last {
	margin-right: 0px;
}
