/* 
*   Built on Manik Rathee's "Master Framework"
*   Github: https://github.com/manikrathee/Master-Framework
*   www.manikrathee.com
*   @manikrathee on twitter
 */
/*@import "import/normalize";*/
body {
  font-size: 16px;
  -webkit-text-size-adjust: none;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
/*.row (@maxwidth){
	width: 100%;
	max-width: @maxwidth;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}*/
.last {
  margin-right: 0px;
}
/*@import "import/core";*/
#page_container header {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  float: left;
  margin-right: 0px;
}
#page_container #page-nav {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  float: left;
}
#page_container #main {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  float: left;
}
#page_container .aside {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  float: left;
  margin-right: 0px;
}
#page_container footer {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  float: left;
  margin-right: 0px;
}
/* Grid: Master Container, default = 1140px */
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  #page_container header {
    margin-left: 0;
    margin-right: 0;
    width: 768px;
    float: left;
    margin-right: 0px;
  }
  #page_container #page-nav {
    margin-left: 0;
    margin-right: 0;
    width: 768px;
    float: left;
    width: 22.05%;
  }
  #page_container #main {
    margin-left: 0;
    margin-right: 0;
    width: 768px;
    float: left;
    width: 30.75%;
  }
  #page_container .aside {
    margin-left: 0;
    margin-right: 0;
    width: 768px;
    float: left;
    width: 30.75%;
    margin-right: 0px;
  }
  #page_container footer {
    margin-left: 0;
    margin-right: 0;
    width: 768px;
    float: left;
    margin-right: 0px;
  }
}
/*@media (min-width:960px) {
	@width: 960px;
	@import "layout";
}*/
