/*@import "import/human";
@import "import/normalize";
@import "import/core";*/
/*@import "import/mixins";*/
@import "cols";


.layout{
	.nav{
		.nine;
	}
	.about{
		.three;
	}
	.content{
		.twelve;
	}
}



.style{
	.nav{
		background: red;
	}
	.about{
		background:green;
	}
	.content{
		background: blue;
	}
}


/*.layouttwo{
	.nav{
		.six;
	}
}*/



.desktop{
	body{
		background: yellow;
	}
}