/*@import "import/human";
@import "import/normalize";*/
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.last {
  margin-right: 0px;
}
/*@import "import/core";*/
/* Grid: Master Container, default = 1140px */
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}
#page_container header {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-right: 0px;
}
#page_container #page-nav {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
#page_container #main {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-right: 0px;
}
#page_container footer {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  /* The 1140px Grid V2 by Andy Taylor http://cssgrid.net */
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  /*  Moved row to grid-mobile to load for mobile first */
  /*
  .row (@maxwidth){
  		width: 100%;
  		max-width: @maxwidth;
  		min-width: 755px;
  		margin: 0 auto;
  		overflow: hidden;
  	}*/
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
  }
  .onecol {
    width: 4.85%;
  }
  .twocol {
    width: 13.45%;
  }
  .threecol {
    width: 22.05%;
  }
  .fourcol {
    width: 30.75%;
  }
  .fivecol {
    width: 39.45%;
  }
  .sixcol {
    width: 48%;
  }
  .sevencol {
    width: 56.75%;
  }
  .eightcol {
    width: 65.4%;
  }
  .ninecol {
    width: 74.05%;
  }
  .tencol {
    width: 82.7%;
  }
  .elevencol {
    width: 91.35%;
  }
  .twelvecol {
    width: 100%;
  }
  /*  moved to grid mobile */
  /* 
  
  .last {
  	margin-right: 0px;
  }
  
  
   */
}
@media (min-width: 960px) {
  
}
