/* 
*   Built on Manik Rathee's "Master Framework"
*   Github: https://github.com/manikrathee/Master-Framework
*   www.manikrathee.com
*   @manikrathee on twitter
 */
/*@import "import/normalize";*/
body {
  font-size: 16px;
  -webkit-text-size-adjust: none;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.last {
  margin-right: 0px;
}
/*@import "import/core";*/
#page_container .row header {
  background: green;
  margin-left: 0;
  margin-right: 0;
  float: left;
  margin-right: 0px;
}
#page_container .row #page-nav {
  margin-left: 0;
  margin-right: 0;
}
#page_container .row #main {
  border: 1px solid black;
  margin-left: 0;
  margin-right: 0;
}
#page_container .row .aside {
  border: 1px solid black;
  margin-left: 0;
  margin-right: 0;
}
#page_container .row footer {
  margin-left: 0;
  margin-right: 0;
  float: left;
  margin-right: 0px;
}
/* Grid: Master Container, default = 1140px */
.row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1140px;
}
@media (min-width: 768px) {
  #page_container .row header {
    background: green;
    margin-left: 0;
    margin-right: 0;
    float: left;
    margin-right: 0px;
  }
  #page_container .row #page-nav {
    margin-left: 0;
    margin-right: 0;
    float: left;
    width: 22.05%;
  }
  #page_container .row #main {
    border: 1px solid black;
    margin-left: 0;
    margin-right: 0;
    float: left;
    width: 30.75%;
  }
  #page_container .row .aside {
    border: 1px solid black;
    margin-left: 0;
    margin-right: 0;
    float: left;
    width: 30.75%;
  }
  #page_container .row footer {
    margin-left: 0;
    margin-right: 0;
    float: left;
    margin-right: 0px;
  }
}
/*@media (min-width:960px) {
	@breakpoint: 960px;
	@import "layout";
}*/
